<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzk.lib_audio" >
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <service android:name=".audioplayer.core.MusicService"/>
    </application>
</manifest>
